# In this workbook, we will clean and process the user, business and reviews dataset

**Kindly extract the user, business and reviews dataset from Yelp challenge dataset link: https://www.yelp.com/dataset/challenge, and place it into the '/GA-Capstone/0. Datasets/Yelp Challenge Dataset' folder before running the code in this workbook**

In [2]:
import numpy as np # linear algebra
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
import json

import sys
import os
import csv
from pprint import pprint
import pickle
from datetime import datetime
import re

import sqlite3

In [7]:
# Also found in the data folder

user_json = "C:/Users/user/Capstone project/GA-Capstone/0. Datasets/Yelp Challenge Dataset/user.json"
review_json = "C:/Users/user/Capstone project/GA-Capstone/0. Datasets/Yelp Challenge Dataset/review.json"
business_json = "C:/Users/user/Capstone project/GA-Capstone/0. Datasets/Yelp Challenge Dataset/business.json"

## 1) Load business data

In [8]:
biz_data = []
with open(business_json, encoding = 'utf8') as f:
    for line in f:
        biz_data.append(json.loads(line))
len(biz_data)

192609

In [140]:
# Load data from json file, and specifically only take data points in restaurant category

business_id = []
city = []
state = []
stars = []
review_count = []
categories = []
postal_code = []
latitude = []
longitude = []
pricerange = []
is_open = []
name = []
opening_hours_mon = []
opening_hours_tue = []
opening_hours_wed = []
opening_hours_thu = []
opening_hours_fri = []
opening_hours_sat = []
opening_hours_sun = []


# selected attributes
outdoor_seat = []
rest_good_for_groups = []
good_kids = []
rest_reserve = []
rest_deliver = []
noise_lvl = []
credit_cards = []
wifi = []
alcohol = []

attribute_types = ['OutdoorSeating',
                   'RestaurantsGoodForGroups',
                   'GoodForKids', 
                   'RestaurantReservations', 
                   'RestaurantDelivery',
                   'NoiseLevel',
                   'ByAppointmentOnly',
                   'RestaurantsPriceRange2',
                   'BusinessAcceptsCreditCards',
                   'WiFi',
                   'Alcohol']

for entry in range(0, len(biz_data)): 
    try:
        if "Restaurants" in biz_data[entry]["categories"]:
            business_id.append(biz_data[entry]['business_id'])
            name.append(biz_data[entry]['name'])
            city.append(biz_data[entry]['city'])
            state.append(biz_data[entry]['state'])
            stars.append(biz_data[entry]['stars'])
            postal_code.append(biz_data[entry]['postal_code'])
            review_count.append(biz_data[entry]['review_count'])
            categories.append(biz_data[entry]['categories'])
            latitude.append(biz_data[entry]['latitude'])
            longitude.append(biz_data[entry]['longitude'])
            is_open.append(biz_data[entry]['is_open'])
            
            try:
                if 'Monday' in biz_data[entry]['hours']:
                    opening_hours_mon.append(biz_data[entry]['hours']['Monday'])
                else:
                    opening_hours_mon.append('NA')
            except TypeError:
                opening_hours_mon.append('NA')
              
            try:
                if 'Tuesday' in biz_data[entry]['hours']:
                    opening_hours_tue.append(biz_data[entry]['hours']['Tuesday'])
                else:
                    opening_hours_tue.append('NA')
            except TypeError:
                opening_hours_tue.append('NA')
                
            try:
                if 'Wednesday' in biz_data[entry]['hours']:
                    opening_hours_wed.append(biz_data[entry]['hours']['Wednesday'])
                else:
                    opening_hours_wed.append('NA')
            except TypeError:
                opening_hours_wed.append('NA')
            
            try:
                if 'Thursday' in biz_data[entry]['hours']:
                    opening_hours_thu.append(biz_data[entry]['hours']['Thursday'])
                else:
                    opening_hours_thu.append('NA')
            except TypeError:
                opening_hours_thu.append('NA')
            
            try:
                if 'Friday' in biz_data[entry]['hours']:
                    opening_hours_fri.append(biz_data[entry]['hours']['Friday'])
                else:
                    opening_hours_fri.append('NA')
            except TypeError:
                opening_hours_fri.append('NA')
            
            try:
                if 'Saturday' in biz_data[entry]['hours']:
                    opening_hours_sat.append(biz_data[entry]['hours']['Saturday'])
                else:
                    opening_hours_sat.append('NA')
            except TypeError:
                opening_hours_sat.append('NA')
            
            try:
                if 'Sunday' in biz_data[entry]['hours']:
                    opening_hours_sun.append(biz_data[entry]['hours']['Sunday'])
                else:
                    opening_hours_sun.append('NA')
            except TypeError:
                opening_hours_sun.append('NA')
            
            try:
                if 'RestaurantsPriceRange2'in biz_data[entry]['attributes']:
                    pricerange.append(biz_data[entry]['attributes']['RestaurantsPriceRange2'])
                else:
                    pricerange.append('NA')
            except TypeError:
                pricerange.append('NA')
            
            try:
                if 'RestaurantsGoodForGroups'in biz_data[entry]['attributes']:
                    rest_good_for_groups.append(biz_data[entry]['attributes']['RestaurantsGoodForGroups'])
                else:
                    rest_good_for_groups.append('NA')
            except TypeError:
                rest_good_for_groups.append('NA')
    
    
            try:
                if 'OutdoorSeating'in biz_data[entry]['attributes']:
                    outdoor_seat.append(biz_data[entry]['attributes']['OutdoorSeating'])
                else:
                    outdoor_seat.append('NA')
            except TypeError:
                outdoor_seat.append('NA')

            try: 
                if 'GoodForKids' in biz_data[entry]['attributes']:
                    good_kids.append(biz_data[entry]['attributes']['GoodForKids'])
                else:
                    good_kids.append('NA')
            except TypeError:
                good_kids.append('NA')

            try: 
                if 'RestaurantsReservations' in biz_data[entry]['attributes']:
                    rest_reserve.append(biz_data[entry]['attributes']['RestaurantsReservations'])
                else:
                    rest_reserve.append('NA')
            except TypeError:
                rest_reserve.append('NA')

            try:  
                if 'RestaurantsDelivery' in biz_data[entry]['attributes']:
                    rest_deliver.append(biz_data[entry]['attributes']['RestaurantsDelivery'])
                else:
                    rest_deliver.append('NA') 
            except TypeError:
                rest_deliver.append('NA')

            try:
                if 'NoiseLevel' in biz_data[entry]['attributes']:
                    noise_lvl.append(biz_data[entry]['attributes']['NoiseLevel'])
                else:
                    noise_lvl.append('NA')
            except TypeError:
                noise_lvl.append('NA')

            try:
                if 'BusinessAcceptsCreditCards' in biz_data[entry]['attributes']:
                    credit_cards.append(biz_data[entry]['attributes']['BusinessAcceptsCreditCards'])
                else:
                    credit_cards.append('NA')
            except TypeError:
                credit_cards.append('NA')

            try:
                if 'WiFi' in biz_data[entry]['attributes']:
                    wifi.append(biz_data[entry]['attributes']['WiFi'])
                else:
                    wifi.append('NA')
            except TypeError:
                wifi.append('NA')

            try:
                if 'Alcohol' in biz_data[entry]['attributes']:
                    alcohol.append(biz_data[entry]['attributes']['Alcohol'])
                else:
                    alcohol.append('NA')
            except TypeError:
                alcohol.append('NA')

    except TypeError:
        pass

In [141]:
# Merge all the business datapoints gathered in the previous step into a dataframe

business_data = {'business_id': business_id,
                 'name': name,
                 'city': city,
                 'state': state,
                 'stars': stars,
                 'review_count': review_count,
                 'categories': categories,
                 'postal_code': postal_code,
                 'latitude': latitude,
                 'longitude': longitude,
                 'pricerange': pricerange,
                 'is_open': is_open,
                 
                 'opening_hours_mon': opening_hours_mon,
                 'opening_hours_tue': opening_hours_tue,
                 'opening_hours_wed': opening_hours_wed,
                 'opening_hours_thu': opening_hours_thu,
                 'opening_hours_fri': opening_hours_fri,
                 'opening_hours_sat': opening_hours_sat,
                 'opening_hours_sun': opening_hours_sun,

                 'outdoor_seat': outdoor_seat,
                 'rest_good_for_groups': rest_good_for_groups,
                 'good_kids': good_kids,
                 'rest_reserve': rest_reserve,
                 'rest_deliver': rest_deliver,
                 'noise_lvl': noise_lvl,
                 'credit_cards': credit_cards,
                 'wifi': wifi,
                 'alcohol': alcohol}

business_data_df = pd.DataFrame(business_data)

### 1a) Narrow down the scope to only Las Vegas restaurants so that dataset to work with is more manageable

In [371]:
# Select only Las Vegas restaurants

business_data_1 = business_data_df[(business_data_df['city'] == 'Las Vegas')]

# drop city column and state column since the scope is narrowed to only Las Vegas

business_data_1.drop(['city', 'state'], axis = 1, inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [373]:
# Sanity check on all columns
# Drop columns with NA or None to reduce number of cols to work with

# clean price range of restaurants
business_data_1 = business_data_1[~((business_data_1['pricerange'] == 'NA') | (business_data_1['pricerange'] == 'None'))]

# clean outdoor seat column
business_data_1 = business_data_1[~((business_data_1['outdoor_seat'] == 'NA') | (business_data_1['outdoor_seat'] == 'None'))]
business_data_1['outdoor_seat'] = business_data_1['outdoor_seat'].map(lambda x: 1 if x == 'True' else 0)

# clean restaurant good for groups column
business_data_1 = business_data_1[~((business_data_1['rest_good_for_groups'] == 'NA') | (business_data_1['rest_good_for_groups'] == 'None'))]
business_data_1['rest_good_for_groups'] = business_data_1['rest_good_for_groups'].map(lambda x: 1 if x == 'True' else 0)

# clean good_kids column
business_data_1 = business_data_1[~((business_data_1['good_kids'] == 'NA') | (business_data_1['good_kids'] == 'None'))]
business_data_1['good_kids'] = business_data_1['good_kids'].map(lambda x: 1 if x == 'True' else 0)

# clean rest_reserve column
business_data_1 = business_data_1[~((business_data_1['rest_reserve'] == 'NA') | (business_data_1['rest_reserve'] == 'None'))]
business_data_1['rest_reserve'] = business_data_1['rest_reserve'].map(lambda x: 1 if x == 'True' else 0)

# clean rest_deliver column
business_data_1 = business_data_1[~((business_data_1['rest_deliver'] == 'NA') | (business_data_1['noise_lvl'] == 'None'))]
business_data_1['rest_deliver'] = business_data_1['rest_deliver'].map(lambda x: 1 if x == 'True' else 0)

# clean noise_lvl column
business_data_1 = business_data_1[~((business_data_1['noise_lvl'] == 'NA') | (business_data_1['noise_lvl'] == 'None'))]
business_data_1['noise_lvl'] = business_data_1['noise_lvl'].map(lambda x: str(x).replace("u'", "").replace("'", ""))

# clean credit card column
business_data_1 = business_data_1[~((business_data_1['credit_cards'] == 'NA') | (business_data_1['credit_cards'] == 'None'))]
business_data_1['credit_cards'] = business_data_1['credit_cards'].map(lambda x: 1 if x == 'True' else 0)
                                                                                                                                                           
# if restaurant has wifi
business_data_1['wifi'] = business_data_1['wifi'].map(lambda x: str(x).replace("u'", "").replace("'", "").replace('None', 'no'))
business_data_1 = business_data_1[~((business_data_1['wifi'] == 'NA') | (business_data_1['wifi'] == 'None'))]
business_data_1['wifi'] = business_data_1['wifi'].map(lambda x: 0 if x == 'no' else 1)

# if restaurant has alcohol
business_data_1['alcohol'] = business_data_1['alcohol'].map(lambda x: str(x).replace("u'", "").replace("'", "").replace('None', 'none'))
business_data_1 = business_data_1[~((business_data_1['alcohol'] == 'NA') | (business_data_1['alcohol'] == 'None'))]
business_data_1['alcohol'] = business_data_1['alcohol'].map(lambda x: 0 if x == 'none' else 1)

### 1b) Clean up data

In [388]:
# Convert pricerange data to int

business_data_1['pricerange'] = business_data_1['pricerange'].astype('int64')

In [ ]:
# drop opening hours data
business_data_1.drop(['opening_hours_mon', 'opening_hours_tue', 'opening_hours_wed','opening_hours_thu'
                     ,'opening_hours_fri', 'opening_hours_sat', 'opening_hours_sun'], axis = 1, inplace = True)

In [390]:
# Remove the word 'Restaurants', 'Food' from the categories column

business_data_1['categories'] = business_data_1['categories'].map(lambda x: str(x).replace("Restaurants, ", "")
                                                                                    .replace("Restaurants", "")
                                                                                    .replace(", Food,", ",")
                                                                                    .rstrip(", ")
                                                                                    .rstrip(","))

In [398]:
# Drop businesses without postal code
business_data_1 = business_data_1[~business_data_1['postal_code'].isnull()].reset_index(drop = True)

### 1c) Perform some feature engineering

In [376]:
# Perform some feature engineering on opening hours

# if restaurant is open 24 hrs
business_data_1['open_24hrs'] = business_data_1['opening_hours_fri'].apply(lambda x: 1 if x == '0:0-0:0' else 0)

# if restaurant serves breakfast - implied by opening hours
def openbf(x):
    if x != 'NA':
        if x == '0:0-0:0':
            x = 1
        elif (int(x.split(':', 1)[0]) < 12) & (int(x.split(':', 1)[0]) > 5):
            x = 1
        else:
            x = 0
    else:
        x = 0
    return x

business_data_1['serves_breakfast'] = business_data_1['opening_hours_fri'].apply(lambda x: openbf(x))


# if restaurant serves lunch - implied by opening hours
def openlunch(x):
    if x != 'NA':
        if int(x.split(':', 1)[0]) >= 14:
            x = 0
        else:
            x = 1
            
    # Give benefit of doubt that restaurants that are NA should be open for lunch
    else:
        x = 1
    return x

business_data_1['serves_lunch'] = business_data_1['opening_hours_fri'].apply(lambda x: openlunch(x))


# if restaurant serves dinner - implied by closing hours

def opendinner(x):
    if x != 'NA':
        if (int(x.split('-')[1].split(':')[0]) < 18) & (int(x.split('-')[1].split(':')[0]) > 7):
            x = 0
        else:
            x = 1
    else:
        x = 0
    return x

business_data_1['serves_dinner'] = business_data_1['opening_hours_fri'].apply(lambda x: opendinner(x))

In [406]:
# Create a new column indicating if business is a chain
counts = business_data_1['name'].value_counts()

business_data_1['is_chain'] = business_data_1['name'].apply(lambda x: 1 if x in counts[counts > 1].index else 0)

In [394]:
# get list of business id of all restaurants 

restaurant_ids = business_data_1['business_id'].tolist()

len(restaurant_ids)

4284

In [205]:
business_data_1.to_csv('business_data_1.csv', index = False)

In [422]:
# Creating a unique legible name for every business (instead of just using business ID)

business_data_1['unique_store_id'] = business_data_1['name'] + ' (' + 'Outlet - ' + business_data_1['postal_code'] + ')'

business_data_1['unique_store_id_1'] = np.nan

for index in range(0, business_data_1.shape[0]):
    if business_data_1.loc[index, 'is_chain'] == 1:
        business_data_1.loc[index, 'unique_store_id_1'] = business_data_1.loc[index, 'unique_store_id']
    else:
        business_data_1.loc[index, 'unique_store_id_1'] = business_data_1.loc[index, 'name']
        
business_data_1.rename(columns = {"unique_store_id": "unique_store_id_test"}, inplace = True) 
business_data_1.rename(columns = {"unique_store_id_1": "unique_store_id"}, inplace = True)

business_data_1.drop(['unique_store_id_test'], axis = 1, inplace = True)
business_data_1.sort_values(by = ['unique_store_id'], inplace = True)
business_data_1.reset_index(drop = True)

# Create intermediate column 'cumcount' to count num of outlets
business_data_1['cumcount'] = business_data_1.groupby('unique_store_id').cumcount() + 1



# add outlet count
business_data_1['unique_store_id_outlet'] = np.nan

for index in range(0, business_data_1.shape[0]):
    if business_data_1.loc[index, 'is_chain'] == 0:
        business_data_1.loc[index, 'unique_store_id_outlet'] = 0
    else: 
        business_data_1.loc[index, 'unique_store_id_outlet'] = business_data_1.loc[index, 'cumcount']
        
        
# insert outlet no. into unique_store_id for store chains

for i in range(0, business_data_1.shape[0]):
    if business_data_1['unique_store_id_outlet'][i] >= 1.0:
        business_data_1['unique_store_id'][i] = business_data_1['name'][i] + ' (' + 'Outlet ' + str(business_data_1['cumcount'][i]) + ' - ' + str(business_data_1['postal_code'][i]) + ')'
    else:
        business_data_1['unique_store_id'][i] = business_data_1['name'][i]
        
        
# drop intermediate columns 'unique store id outlet' and 'cumcount'
business_data_1.drop(['unique_store_id_outlet', 'cumcount'], axis = 1, inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [426]:
business_data_1.reset_index(drop= True, inplace = True)

In [429]:
# Save file to CSV to create a save copy

business_data_1.to_csv('business_data_1.csv', index = False)

In [8]:
business_data_1 = pd.read_csv('business_data_1.csv')

## 2) Load review data

In [38]:
# Read json into python dictionary

data = []
with open(review_json, encoding = 'utf8') as f:
    for line in f:
        data.append(json.loads(line))
len(data)

In [7]:
data[0]

{'review_id': 'Q1sbwvVQXV2734tPgoKj4Q',
 'user_id': 'hG7b0MtEbXx5QzbzE6C_VA',
 'business_id': 'ujmEBvifdJM6h6RLv4wQIg',
 'stars': 1.0,
 'useful': 6,
 'funny': 1,
 'cool': 0,
 'text': 'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.',
 'date': '2013-05-07 04:34:36'}

In [40]:
# Read from json file and populate data into down into individual lists. 
# Ignore useful, funny and cool columns

reviewid = []
businessid= []
userid = []
stars = []
text = []
date = []

for entry in range(0, len(data)):     
    reviewid.append(data[entry]['review_id'])
    businessid.append(data[entry]['business_id'])
    userid.append(data[entry]['user_id'])
    stars.append(data[entry]['stars'])
    text.append(data[entry]['text'])
    date.append(data[entry]['date'])

In [41]:
# Merge all the datapoints from the reviews dataset the previous step into a dataframe

data = {'review_id': reviewid,
        'business_id': businessid,
        'user_id': userid,
        'stars': stars,
        'text': text,
        'date': date}

review_data = pd.DataFrame(data)

In [52]:
review_data.shape

(4201684, 7)

In [ ]:
# Label and remove non-restaurant reviews
review_data['is_restaurant'] = review_data['business_id'].apply(lambda x: 1 if x in restaurant_ids else 0)

# Filter by restaurant only reviews
review_data = review_data[review_data['is_restaurant'] == 1]

In [16]:
# Take only date from date column - ignore time

review_data['date'] = pd.to_datetime(review_data['date'].apply(lambda x: str(x)[:10]))

In [17]:
review_data.shape

(2485586, 7)

In [18]:
# Save reviews dataset to csv

review_data.to_csv('review_data.csv', index = False)

In [19]:
review_data = pd.read_csv('review_data.csv')

## 3) Load user data

In [169]:
data3 = []
with open(user_json, encoding = 'utf8') as f:
    for line in f:
        data3.append(json.loads(line))
len(data3) #1637138 users

1637138

In [170]:
# Only selected the following 4 attributes

userid = []
review_count = []
average_stars = []
yelping_since = []

for entry in range(0, len(data3)):     
    userid.append(data3[entry]['user_id'])
    average_stars.append(data3[entry]['average_stars'])
    review_count.append(data3[entry]['review_count'])
    yelping_since.append(data3[entry]['yelping_since'])

In [171]:
data3 = {'user_id':userid ,
         'average_stars':average_stars,
         'review_count':review_count,
         'yelping_since':yelping_since,
         'review_count':review_count}

user_data  = pd.DataFrame(data3)

In [172]:
user_data.shape

(1637138, 4)

In [173]:
user_data.head(10)

                  user_id  average_stars  review_count        yelping_since
0  l6BmjZMeQD3rDxWUbiAiow           4.03            95  2013-10-08 23:11:33
1  4XChL029mKr5hydo79Ljxg           3.63            33  2013-02-21 22:29:06
2  bc8C_eETBWL0olvFSJJd0w           3.71            16  2013-10-04 00:16:10
3  dD0gZpBctWGdWo9WlGuhlA           4.85            17  2014-05-22 15:57:30
4  MM4RJAeH6yuaN8oZDSt0RA           4.08           361  2013-10-23 07:02:50
5  0rK89TS8xqy1wI4nYI1wfw           4.20           214  2011-06-23 08:05:13
6  TEtzbpgA2BFBrC0y0sCbfw           4.39          1122  2006-02-15 18:29:35
7  KGuqerdeNhxzXZEyBaqqSw           4.33             6  2014-06-07 01:50:09
8  T0gWkTHWRChVUe_Dn1F8nw           4.21           859  2005-07-20 22:38:17
9  NQffx45eJaeqhFcMadKUQA           4.53           124  2008-12-10 22:59:45

In [184]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1637138 entries, 0 to 1637137
Data columns (total 4 columns):
user_id          1637138 non-null object
average_stars    1637138 non-null float64
review_count     1637138 non-null int64
yelping_since    1637138 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 50.0+ MB

In [186]:
# Save user file to csv

user_data.to_csv('user_data.csv', index = False)

In [5]:
# Load user_data dataset

user_data = pd.read_csv('user_data.csv')

### 4) Load all datasets into sqlite3 database

In [2]:
# Load business, reviews and user datasets

business_data_1 = pd.read_csv('business_data_1.csv')
review_data = pd.read_csv('review_data.csv')
user_data = pd.read_csv('user_data.csv')

In [3]:
print(business_data_1.shape)
print(review_data.shape)
print(user_data.shape)

(4284, 25)
(2485586, 7)
(1637138, 4)

In [5]:
# Save data into sqlite3

conn = sqlite3.connect('yelp.db')
business_data_1.to_sql('business', con=conn, if_exists='replace')
review_data.to_sql('reviews', con=conn, if_exists='replace')
user_data.to_sql('users', con=conn, if_exists='replace')